@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GT Walsheim';
  font-weight: 400;
  src: url(/fonts/GT-Walsheim-Regular.woff2) format('woff2'),
    url(/fonts/GT-Walsheim-Regular.woff) format('woff');
}

@font-face {
  font-family: 'GT Walsheim';
  font-weight: 700;
  src: url(/fonts/GT-Walsheim-Bold.woff2) format('woff2'),
    url(/fonts/GT-Walsheim-Bold.woff) format('woff');
}
@font-face {
  font-family: 'GT Walsheim';
  font-weight: 900;
  src: url(/fonts/GT-Walsheim-Ultra-Bold.woff2) format('woff2'),
    url(/fonts/GT-Walsheim-Ultra-Bold.woff) format('woff');
}
@font-face {
  font-family: 'ABCMonumentSemiMono';
  font-weight: 400;
  src: url(/fonts/ABCMonumentGroteskSemi-Mono-Regular.woff2) format('woff2'),
    url(/fonts/ABCMonumentGroteskSemi-Mono-Regular.woff) format('woff');
}

.woff2 ::selection {
  background-color: #ff8cb1;
  color: #fefefe;
}

html {
  @apply text-base;
  min-width: 360px;
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

a {
  @apply text-primary;
}

#__next {
  @apply bg-cream dark:bg-gray-900;
  height: 100%;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
  content: '';
  margin-bottom: -0.098em;
  display: table;
}

.capsize::after {
  content: '';
  margin-top: -0.219em;
  display: table;
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-opacity-100;
  }
}

.body,
.prose p {
  @apply font-mono leading-normal  text-base md:text-sm;
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose a {
  @apply transition-all;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

hr {
  @apply w-full border-gray-300 mt-6 mb-2;
}
.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}
.animation-delay-1 {
  animation-delay: 0.2s;
}
.animation-delay-2 {
  animation-delay: 0.4s;
}

input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a:hover {
  cursor: pointer;
}

.prose p {
  @apply md:max-w-md;
}

.prose h4 {
  @apply mt-3;
  @apply mb-1;
}

.prose + p {
  @apply my-0;
}

.prose .tweet a {
  text-decoration: inherit;
  font-weight: inherit;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}
h2,
.prose h2 {
  @apply font-bold text-lg mb-2 leading-normal text-black dark:text-white;
}
.prose h2 {
  @apply mb-4;
}
h4 {
  @apply font-bold text-lg md:text-base;
}

s {
  text-decoration: none;
  position: relative;
}

s::before {
  content: '';
  width: 110%;
  position: absolute;
  left: -5%;
  top: calc(52%);
  @apply border-b-2;
  @apply border-b-black;
}

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.arrow-box {
  position: relative;
  @apply bg-primary-lighter;
}
.arrow-box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  @apply border-b-primary-lighter;
  border-width: 14px;
  margin-left: -14px;
}
